---
layout: default
title: Downl.
---

<div class="blog">
    <h1 id="downloads" class="title no-top-margin">Downloads</h1>
    <p>
        Here you will find downloads for AOSC OS versions, and other
        projects produced by the community.
    </p>
    <a href="#aosc-os">AOSC OS Downloads</a>
    |
    <a href="#aosc-os-retro">AOSC OS/Retro Downloads</a>
    |
    <a href="#aosc-os-dp">DeployKit Downloads</a>
    <h1 id="aosc-os" class="title">AOSC OS</h1>
    <p>
        Downloads for our mainline releases, these releases target
        desktop devices with adequate performance, storage, and
        Internet accessibility.
    </p>
    <br>
    <div>
        {% for release in site.data.distro.general.list %}
        {% assign slug = release.name | slugify: 'ascii' %}
        <div id="{{ slug }}" class="columns">
            <div class="column downloads-title-column">
                <h2>{{ release.name }}</h2>
                <a href="screenshots/#{{ slug }}">Screenshots</a>
            </div>
            <div class="column downloads-description is-three-quarters">
                <p>{{ release.description }}</p>
                <p>
                    {% for download in release.downloads %}
                    <a href="{{ download.url }}">{{ download.name }}</a>
                    {% if forloop.last == false %}
                    |
                    {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <h1 id="aosc-os-retro" class="title">AOSC OS/Retro</h1>
    <p>
        Downloads for our Retro releases, these releases target
        older and "ancient" hardware with limited performance and
        storage support. These releases are not frequently updated
        but will receive security and bug-fix updates.
    </p>
    <p>
        Coming soon<sup style="font-size: xx-small;vertical-align:super;">TM</sup>
    </p>
    <br>
    <div>
        {% for release in site.data.distro.retro.list %}
        {% assign slug = 'retro-' | append: release.name | slugify: 'ascii' %}
        <div id="{{ slug }}" class="columns">
            <div class="column downloads-title-column">
                <h2>{{ release.name }}</h2>
                <a href="screenshots/#{{ slug }}">Screenshots</a>
            </div>
            <div class="column downloads-description is-three-quarters">
                <p>{{ release.description }}</p>
                <p>
                    {% for download in release.downloads %}
                    <a href="{{ download.url }}">{{ download.name }}</a>
                    {% if forloop.last == false %}
                    |
                    {% endif %}
                    {% endfor %}
                </p>
                <p style="font-size:0.7em;">
                    * Any PowerPC Macintosh with NewWorld ROM.
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <h1 id="aosc-os-dp" class="title">DeployKit</h1>
    <p>
        Coming soon<sup style="font-size: xx-small;vertical-align:super;">TM</sup>
    </p>
</div>