---
layout: gallery
title: Downl.
---
<h1 class="title no-top-margin">Screenshots</h1>
{% for release in site.data.distro.general.list %}
{% assign slug = release.name | slugify: 'ascii' %}
<h2 id="{{ slug }}" class="downloads-title">{{ release.name }}</h2>
<div class="columns is-multiline screenshot-box">
    {% for item in release.screenshots %}
    <a href="/assets/img/de-preview/{{ slug }}/{{ item }}" class="column is-one-quarter screenshot">
        <img src="/assets/img/de-preview/{{ slug }}/thumbs/{{ item }}.jpg">
    </a>
    {% endfor %}
</div>
<br>
{% endfor %}
<!-- Retro -->
{% for release in site.data.distro.retro.list %}
{% assign slug = 'retro-' | append: release.name | slugify: 'ascii' %}
<h2 id="{{ slug }}" class="downloads-title">{{ release.name }}</h2>
<div class="columns is-multiline screenshot-box">
    {% for item in release.screenshots %}
    <a href="/assets/img/de-preview/{{ slug }}/{{ item }}" class="column is-one-quarter screenshot">
        <img src="/assets/img/de-preview/{{ slug }}/thumbs/{{ item }}.jpg">
    </a>
    {% endfor %}
</div>
<br>
{% endfor %}