<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode | default "en-us" }}">
{{ $title := .Title }}
{{ if in .Permalink "/news/" }}
{{ $title = T "news" }}
{{ else if in .Permalink "/people/"}}
{{ $title = T "people" }}
{{ else if eq $title nil }}
{{ $title = .Site.Title }}
{{ else if eq .URL "/404.html" }}
{{ $title = "404"}}
{{ end }}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=7" />
    {{ $style := resources.Get "css/main.scss" | toCSS | minify }}
    {{ $logo_svg := resources.Get "img/aosc.min.svg" }}
    {{ $logo_png := resources.Get "img/aosc.png" }}
    {{ $lingua_svg := resources.Get "img/language-line.svg"}}
    <link href="{{ $style.Permalink }}" rel="stylesheet">
    <title>{{ $title }} | {{ .Site.Title }}</title>

    <link rel="icon" href="/assets/img/aosc.png">
    <link rel="icon" sizes="any" type="image/svg+xml" href="{{ $logo_svg.Permalink }}" />
</head>

<body>
    {{/*  {{- if eq .Site.Language.Lang "ru" -}}  */}}
    
    {{- if eq .Site.Language.Lang "jp" -}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,600&display=swap" />
    <style>body{font-family:'Noto Serif JP',serif;}</style>
    {{- else if eq .Site.Language.Lang "ko" -}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,600&display=swap" />
    <style>body{font-family:'Noto Serif KR',serif;}</style>
    {{- else if eq .Site.Language.Lang "zh-tw" -}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,600&display=swap" />
    <style>body{font-family:'Noto Serif TC',serif;}</style>
    {{- else -}}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600&display=swap" rel="stylesheet"> 
    <style>body{font-family:'Noto Serif SC',serif;}</style>
    {{- end -}}
    <div class="wrapper">
        <!-- navbar -->
        <nav class="header">
            <div class="columns" style="align-items: start;">
                <div class="columns" style="display: flex;">
                    <a class="clear-link" href="{{ .Site.Home.Permalink }}">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <img alt="AOSC Logo" class="logo"
                                            width="40" height="40" src="{{ $logo_png.Permalink }}"
                                            style="height: 40px; width: 40px;">
                                    </td>
                                    <td style="vertical-align: bottom;">
                                        <h1 class="page-title">/{{ $title }}
                                        </h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
                <ul class="column is-two-thirds" style="word-break: keep-all;">
                    {{ $index_name := printf "navigation.%s" $.Site.Language.Lang }}
                    {{ $navigation := index $.Site.Data $index_name }}
                    {{- range $item := $navigation -}}
                    <li><a href="{{ $item.url }}">{{ $item.title }}</a>
                    </li>
                    {{- if $item.break -}}
                    <br>
                    {{- end -}}
                    {{- end -}}
                </ul>
            </div>
        </nav>
        <hr class="hr-nav">
        <!-- !navbar -->
        {{ block "main" . }}{{ end }}
        <!-- footer -->
        <hr>
        <div class="center footer">
            {{ $copyrightYear := now.Format "2006" }}
            {{ T "copyright" (dict "copyrightYear" $copyrightYear) }} | &nbsp; <span><a href="/lingua">{{ T "sitelang" }}</a></span>
        </div>
        <!-- !footer -->
    </div>
</body>

</html>
