{{ define "main" }}
<div class="blog">
    {{- range $album_idx, $album := .Site.Data.gallery.gallery -}}
    <h2 id="{{ $album.title | anchorize }}" class="downloads-title">{{ $album.title }}</h2>
    <div class="columns is-multiline screenshot-box">
        {{- range $item_idx, $item := $album.album }}
            <a href="https://aosc.io/assets/i/gallery/{{ $item.file }}" class="column is-one-quarter screenshot"
                data-sub-html="#caption-{{ $album_idx }}-{{ $item_idx }}">
                <img alt="{{ $item.desc }}" src="https://aosc.io/assets/i/gallery/thumbs/{{ $item.file }}.jpg">
                <div id="caption-{{ $album_idx }}-{{ $item_idx }}" style="display: none;">
                    {{ $key := index (split $item.file ".") 0 }}
                    {{ $localeDescription := T $key }}
                    <p>{{ cond (eq $localeDescription "") $item.desc $localeDescription }}</p>
                </div>
            </a>
        {{- end -}}
    </div>
    <br>
    {{- end -}}
    {{ partial "gallery-script.html" . }}
</div>
{{ end }}
