{{ define "main" }}
<div class="blog">
    <script src="https://cdn.jsdelivr.net/npm/lightgallery.js@1.1.3/dist/js/lightgallery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/sachinchoolur/lightgallery.js/demo/js/lg-autoplay.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/sachinchoolur/lightgallery.js/demo/js/lg-zoom.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/lightgallery.js@1.1.3/dist/css/lightgallery.css" rel="stylesheet">
    {{- range $album_idx, $album := .Site.Data.gallery.gallery -}}
    <h2 id="{{ $album.title | anchorize }}" class="downloads-title">{{ $album.title }}</h2>
    <div class="columns is-multiline screenshot-box">
        {{- range $item_idx, $item := $album.album }}
            <a href="https://aosc.io/assets/i/gallery/{{ $item.file }}" class="column is-one-quarter screenshot"
                data-sub-html="#caption-{{ $album_idx }}-{{ $item_idx }}">
                <img alt="{{ $item.desc }}" src="https://aosc.io/assets/i/gallery/thumbs/{{ $item.file }}.jpg">
                <div id="caption-{{ $album_idx }}-{{ $item_idx }}" style="display: none;">
                    {{ $key := index (split $item.file ".") 0 }}
                    {{ $localeDescription := T $key }}
                    <p>{{ cond (eq $localeDescription "") $item.desc $localeDescription }}</p>
                </div>
            </a>
        {{- end -}}
    </div>
    <br>
    {{- end -}}
    <script>
        var boxes = document.getElementsByClassName('screenshot-box', {
            subHtmlSelectorRelative: true
        });
        for (var i = 0; i < boxes.length; i++) {
            lightGallery(boxes[i], { thumbnail: true });
        }
    </script>
</div>
{{ end }}
