.downloads-title-column {
  border-right: 1px solid grey;
  padding: 0;
  h2 {
    font-size: 1.5em !important;
    font-weight: 600;
    margin-bottom: 0 !important;
    margin-top: -0.1em !important;
    padding-right: 0 !important;
  }
}

.downloads-title {
  font-size: 1.5em !important;
  font-weight: 600;
  margin-bottom: 0 !important;
  margin-top: -0.1em !important;
  padding-right: 0 !important;
}

.screenshot {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.2em;
  padding-left: 0.2em;
  cursor: pointer;
}

.screenshot-box {
  padding-top: 1em;
  padding-left: 0.5em;
  a {
    &:hover {
      color: unset;
      text-decoration: none;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.downloads-description {
  padding: 0;
}
