.media {
    vertical-align: top;
    margin-bottom: 1.8em;
    display: inline-block;
    zoom: 1;
    overflow: hidden;
    padding-right: 1em;
}

.profile-pic {
    display: table-cell;
    padding-right: 10px;

    img {
        max-width: unset;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 0;
    }
}

.description {
    display: table-cell;
    vertical-align: top;
    h3 {
        font-weight: 600;
        margin: 0;
    }
    p {
        line-height: 1.2em;
        font-size: 0.9em;
    }
}

.people {
    overflow-x: unset;
}

.no-top-margin {
    display: inline-block;
}