@import "main";

html {
	overflow: unset;
}

.wrapper {
	padding: unset;
}

#quote {
	font-size: unset;
	margin-top: unset;
	text-align: unset;
}

#quote, .center {
	text-align: unset;
	em {
		font-style: unset;
		margin-left: 1em;
	}
}

.columns:not(.is-desktop) {
	display: unset;
}


nav {
	line-height: 140%;
	li {
		margin-right: 1em;
	}
	h1 {
		display: inline-block;
		margin-top: 0 !important;
		min-width: unset;
	}
	img {
		margin-left: 1em;
		vertical-align: bottom;
	}
}

.footer {
	font-size: 1em;
	margin: 0 1em;
}

.logo {
	margin: 1em;
	margin-left: .4em;
	margin-top: 1.4em;
	cursor: pointer;
}

body {
	height: 100%;
	width: 100%;
	hyphens: auto;
	max-width: unset;
	writing-mode: vertical-rl;
	margin: unset;
	margin: auto;
	padding: 90px 75px;
	overflow-y: hidden;
	@media screen and (orientation: landscape) and (max-height: 485px) {
		padding: 0;
	}
	max-height: 800px;
}

h1 {
	margin: unset;
	margin-bottom: 5px;
	font-weight: 600;
}

p {
	font-size: 1em;
	line-height: 150%;
}

ul {
	list-style: disc;
	padding-top: 1.3em;	
	@-moz-document url-prefix() {
		@supports (animation: calc(0s)) {
			padding-top: 0.7em;
		}
	}
	li {
		padding: unset;
		padding-left: 10px;
	}
}

td, th {
	padding-bottom: 0.5em;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	// padding-bottom: 50px;
	h1 {
		font-size: 2em;
		margin-top: 0;
		margin-left: .5em;
		padding: 0;
	}
	ul {
		margin: 0 1em;
		li {
			display: inline;
			padding: 0;
		}
	}
	a {
		margin: 0.2em;
	}
}

.blog {
	padding-bottom: unset;
	ul {
		padding-left: unset;
	}
	table {
        margin-top: unset;
    }
}

#generate-list {
    margin-top: unset;
}

.profile-pic {
    display: table-cell;
    padding-right: 10px;

    img {
        max-width: unset;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 0;
    }
}

.description {
    display: table-cell;
    vertical-align: top;
    h3 {
        font-weight: 600;
        margin: 0;
    }
    p {
        line-height: 1.2em;
        font-size: 0.9em;
    }
}

.people {
    overflow-x: unset;
}

.no-top-margin {
    display: inline-block;
}

.downloads-title-column {
	padding: 0;
}

.downloads-description {
	padding: 0;
  }
