@import "normalize";
// Bulma CSS Framework
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/grid/_all";
@import "config";
@import "center";
@import "people";
@import "repo";
@import "common";
@import "downloads";
@import "components.sass";

#quote, .center {
	justify-content: center;
	align-items:flex-end;
	text-align: center;
	em {
		font-style: italic;
	}
}

@media screen and (max-width: 767px) {
	.card {
		.item {
			.date {
				display: none;
			}
			.link {
				padding-left: unset;
			}
		}
	}
}

.page-title {
	cursor: pointer;
}

.hr-nav {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

nav {
	line-height: 140%;
	li {
		margin-right: 1em;
	}
	h1 {
		display: inline-block;
		margin-top: 1em !important;
		min-width: 4em;
	}
	img {
		margin-left: 1em;
		vertical-align: bottom;
	}
}

#quote {
	margin-top: 5em;
	font-size: 0.8em;
}

#quote-zh {
	margin-top: 5em;
	text-align: center;
	em {
		font-style: normal;
		.author {
			font-style: italic;
		}
	}
}

.footer {
	font-size: 0.8em;
}

.logo {
	margin-top: 3em;
	cursor: pointer;
}

body {
	color: $color-black;
	background: $color-white;
	font-size: 100%;
	font-weight: 400;
}

h1 {
	margin-bottom: 5px;
	font-weight: 600;
}

p {
	font-size: 1em;
	line-height: 150%;
    margin-bottom: 1.0em;
}

a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	color: $color-link;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid $color-link;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}

ul {
	list-style: disc;
	li {
		padding: 5px;
		padding-left: 10px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}


.wrapper {
	max-width: 680px;
	margin: auto;
	padding: 30px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}


.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	// padding-bottom: 50px;
	@media screen and (max-width: $br) {
		display: block;
	}
	h1 {
		font-size: 2.3em;
		margin-bottom: 13px;
		margin-top: auto;
		margin-right: 0.5em;
		display: block;
	}
	ul {
		margin-top: 1.2em;
		li {
			display: inline;
			padding: 0;
		}
	}
}

.blog {
	padding-bottom: 10px;
	ul {
		padding-left: 2em;
	}
}

.post {
	padding-bottom: 30px;
	&__back {
		a {
			
		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 6px;
		h1 {
			display: inline-block;
			font-size: 1.6em;
			font-weight: 700;
			padding-right: 10px;
			padding-bottom: 2px;
			text-decoration: none;
			border-bottom: 3px solid $color-black;
		}
	}
	&__date {
		p {
			font-size: 1em;
			font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 40px;
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 15px;
		}
		a {
			padding-bottom: 1px;
			border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: 10px;
			margin-bottom: 10px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			width: 100%;
			margin: auto;
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
                        white-space: pre-wrap;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
                        white-space: pre-wrap;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.about {
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.2em;
			font-style: italic;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 10px;
		}
                ul {
                        font-size: 1em;
                        list-style: circle;
                        margin-left: 30px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        li {
                                padding: 5px;
                                padding-left: 5px;
                                @media screen and (max-width: $br) {
                                        padding: 10px 0 10px 0;
                                }
                        }
                        @media screen and (max-width: $br) {
                                margin-left: 10px;
                        }
                }
	}
}

.clear-link {
  color: black !important;
  text-decoration: none;
  &:visited {
	color: unset;
  }
  &:hover {
	color: unset;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: unset;
  }
  &:active {
	color: unset;
	text-decoration: none;
  }
}
