{{ define "main" }}
<div>
    <p>One does not simply create a page in two seconds.</p>
    <p>One must appreciate the process of writing a personal webpage. It is a notion, a symbol, a signifier of our freedom of speech, freedom of expression, and the freedom of action... Heck, go elsewhere for now, jeez!</p>
    <p>But seriously though... This contributor hasn't uploaded their page yet... Why not give them a little more time?</p>
    <p>In the meanwhile, how about having a trip to their <a href="{{ $.Param "link" }}">GitHub Profile Page</a>?</p>
</div>
{{ end }}