<!DOCTYPE html>
<html>
{% if page.url contains "/news/" %}
{% assign title = "News" %}
{% elsif page.url contains "/people/" %}
{% assign title = "People" %}
{% elsif page.title %}
{% assign title = page.title %}
{% else %}
{% assign title = site.name %}
{% endif %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=7" />

    <title>{{ title }} | AOSC Portal</title>

    <meta name="description" content="{{ site.description }}" />
    <link rel="icon" href="{{ '/assets/img/aosc.png' | relative_url }}">
    <link rel="icon" sizes="any" type="image/svg+xml" href="{{ '/assets/img/aosc.svg' | relative_url }}" />
</head>

<body>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Noto+Serif:400,600|Noto+Serif+SC:400,600&display=swap" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}" />
    <div class="wrapper">
        <!-- navbar -->
        <nav class="header">
            <div class="columns">
                <div class="columns">
                    <img alt="AOSC Logo" class="logo" onclick="window.location = '/';" width="40" height="40"
                        src="{{ '/assets/img/aosc.svg' | relative_url }}">
                    <h1 onclick="window.location = '/';" class="page-title">/{{ title }}</h1>
                </div>
                <ul class="column is-two-thirds">
                    {% for item in site.data.navigation %}
                    <li>
                        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <hr class="hr-nav">
        <!-- !navbar -->
        {{ content }}
        <!-- footer -->
        <hr>
        <div class="center footer">
            Copyleft 2011 — 2019, Members of the Community
        </div>
        <!-- !footer -->
    </div>
</body>

</html>
