---
layout: default
---

<div class="blog">
    <script src="https://cdn.jsdelivr.net/npm/lightgallery.js@1.1.3/dist/js/lightgallery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/lightgallery.js@1.1.3/dist/css/lightgallery.css" rel="stylesheet">
    {{ content }}
    <script>
        var boxes = document.getElementsByClassName('screenshot-box', {
            subHtmlSelectorRelative: true
        });
        for (var i = 0; i < boxes.length; i++) {
            lightGallery(boxes[i], {thumbnail: true});
        }
    </script>
</div>