---
layout: default
---

<div class="post">
	<div class="post__back">
    	<a id="back" href="/news/">&lt;-- back</a>
    </div>
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__date">
    	<p>{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content"?>
        {{ content }}
    </div>
    <script type="text/javascript">
        function go_back() {
            window.history.back();
        }
        var back = document.getElementById("back");
        back.setAttribute("href", "javascript:void(0);");
        back.setAttribute("onclick", "go_back();");
    </script>
</div>
