{{ $releases := .Site.Data.distro.general.list }}
{{ $prefix := "" }}
{{ if .Get "retro" }}
{{ $releases = .Site.Data.distro.retro.list }}
{{ $prefix = "retro-" }}
{{ end }}
{{- range $release := $releases -}}
{{ $slug := printf "%s%s" $prefix ($release.name | anchorize) }}
<h2 id="{{ $slug }}" class="downloads-title">{{ if eq $prefix "retro-" }}{{ T "retro" }} {{ end }}{{ $release.name }}</h2>
<div class="columns is-multiline screenshot-box">
    {{- range $item := $release.screenshots -}}
    {{- $original := resources.Get (printf "img/de-preview/%s/%s" $slug $item) -}}
    {{- if not $original }}
    {{- errorf "Screenshot for %s (%s) not found." $slug $item -}}
    {{- end -}}
    {{- $resize := $original.Resize "960x q87 jpg" -}}
    <a href="{{ $original.Permalink }}" class="column is-one-quarter screenshot">
        <img src="{{ $resize.Permalink }}" alt="">
    </a>
    {{- end -}}
</div>
<br>
{{- end -}}
