{{- range $release := .Site.Data.distro.retro.list -}}
{{ $slug := printf "retro-%s" ($release.name | anchorize) }}
<div id="{{ $slug }}" class="columns">
    <div class="column downloads-title-column">
        <h2>{{ $release.name }}</h2>
        <a href="screenshots/#{{ $slug }}">{{ T "screenshots" }}</a>
    </div>
    <div class="column downloads-description is-three-quarters">
        {{ $localeDescription := T (printf "%s-desc" $slug) }}
        <p class="no-top-margin">{{ cond (eq $localeDescription "") $release.description $localeDescription }}</p>
        <p>
            {{- range $i, $download := $release.downloads -}}
            {{ if $i }}
            |
            {{ end }}
            <a href="{{ $download.url }}">{{ $download.name }}</a>
            {{- end -}}
        </p>
{{/*        <p style="font-size:0.7em;">
            {{ T "retro-newworld-rom" }}
        </p> */}}
    </div>
</div>
{{- end -}}
