{{- $category := (.Get "category") -}}
{{- $target_list := index .Site.Data.distro $category -}}
{{- $screenshots := not (.Get "no-screenshots") -}}
{{- range $release := index $target_list "list" -}}
{{- $slug := $release.name | anchorize -}}
<div id="{{ $slug }}" class="columns">
    <div class="column downloads-title-column">
        <h2>{{ $release.name }}</h2>
        {{ if $screenshots }}<a href="screenshots/#{{ $slug }}">{{ T "screenshots" }}</a>{{ end }}
    </div>
    <div class="column downloads-description is-three-quarters">
        {{ $localeDescription := "" }}
        {{- if eq $category "general" -}}
        {{ $localeDescription = T (printf "%s-desc" $slug) }}
        {{- else -}}
        {{ $localeDescription = T (printf "%s-%s-desc" $category $slug) }}
        {{- end }}
        <p class="no-top-margin">{{ cond (eq $localeDescription "") $release.description $localeDescription }}</p>
        <p>
        <form action="https://releases.aosc.io/download/alt" method="post">
            <select id="distro-variant" name="distro-variant">
                {{- range $download := $release.downloads -}}
                {{ $value := printf "%s.%s" ($release.name | anchorize)  $download.archid }}
                {{- if isset $download "url" -}}
                {{ $value = $download.url }}
                {{- end -}}
                <option value="{{ $value }}"{{ if $download.disabled }}disabled{{ end }}>{{ $download.arch }}</option>
                {{- end -}}
            </select>
            <input class="download-button" type="submit" value="{{ T "download" }}">
        </form>
        </p>
    </div>
</div>
{{- end -}}
