<div class="card warning">
  <div class="content">
    <span class="title">{{ .Get "title" }}</span>
    {{ $posts := .Site.RegularPages }}
    {{ $merged_posts := lang.Merge .Site.AllPages $posts }}
    {{ $posts := where (where $merged_posts ".Section" "news") ".Params.categories" "intersect" (slice "warning") }}
    {{ $posts := first 3 $posts }}
    {{- range $post := $posts -}}
    <div class="item">
      <table class="list">
        <tr>
          <td class="date"><span>{{ $post.Date.Format "2006-01-02" }}</span></td>
          <td class="link"><a href="{{ $post.Permalink }}">{{ $post.Title }}</a></td>
        </tr>
      </table>
    </div>
    {{- end -}}
    <a href="{{ .Get " more-link" }}">{{ .Get "more-msg" }}</a>
  </div>
</div>