{{- $target_list := index .Site.Data.distro (.Get "category") -}}
<form action="https://releases.aosc.io/download/livekit" method="post">
    <select id="distro-variant" name="distro-variant">
        {{- range $livekit := index $target_list "list" -}}
        {{ $slug := $livekit.arch | anchorize }}
        <option value="{{ $livekit.archid }}"{{ if $livekit.disabled }}disabled{{ end }}>{{ $livekit.arch }}</option>
        {{- end -}}
    </select>
    <input class="download-button" type="submit" value="{{ T "download" }}">
</form>
