{{ define "main" }}
<div class="blog">
    {{ .Content }}

    <div class="people">
        <table>
            <tbody>
                <tr>
                    {{- range $index, $person := .Site.Data.people -}}
                    <td>
                        <div class="media">
                            <div class="profile-pic">
                                <img alt="{{ $person.username }} avatar" width="96" height="96" src="https://github.com/{{ $person.username }}.png?size=96">
                            </div>
                            <div class="description">
                                <a href="/people/~{{ $person.username }}">
                                    <h3 class="no-top-margin">{{ $person.fullname }}&nbsp;({{ $person.username }})</h3>
                                </a>
                                <p>{{ $person.description }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
                {{- end -}}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
